<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" data-bs-theme="dark">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <script src="assets/js/theme.js"></script>
  <link href="dist/bootstrap-5.2.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/themes.css" rel="stylesheet">
  <link href="dist/data-tables/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="dist/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="dist/fontawesome/css/all.min.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="app_wrapper">
    <div class="sidebar">
      <div class="profile">
        <img src="assets/images/profile.png" alt="" class="profile__img">
      </div>
      <div class="sidebar-list-holder">
        <ul class="sidebar-list sidebar-list1">
          <li class="sidebar-list__item">
            <a href="/" class="sidebar-list__link flex-a trn-all active" id="dashboard">
              <img src="assets/images/icons/dashboard.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/dashboard-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
          <li class="sidebar-list__item">
            <a href="my-account.html" class="sidebar-list__link flex-a trn-all" id="account">
              <img src="assets/images/icons/user.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/user-dark.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
          <li class="sidebar-list__item">
            <a href="notification.html" class="sidebar-list__link flex-a trn-all" id="notification">
              <img src="assets/images/icons/bell.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/bell-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
          <li class="sidebar-list__item">
            <a href="" class="sidebar-list__link flex-a trn-all" id="deposite">
              <img src="assets/images/icons/wallet.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/wallet-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
          <li class="sidebar-list__item">
            <a href="" class="sidebar-list__link flex-a trn-all" id="withdrawal">
              <img src="assets/images/icons/withdrawal.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/withdrawal-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
          <li class="sidebar-list__item">
            <a href="" class="sidebar-list__link flex-a trn-all" id="add-user">
              <img src="assets/images/icons/user-plus.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/user-plus-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
          <li class="sidebar-list__item">
            <a href="" class="sidebar-list__link flex-a trn-all" id="update-bulk-record">
              <img src="assets/images/icons/update.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/update-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
        </ul>
        <ul class="sidebar-list">
          <li class="sidebar-list__item">
            <div class="sidebar-list__link flex-a trn-all" id="light">
              <img src="assets/images/icons/light.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/light-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </div>
          </li>
          <li class="sidebar-list__item">
            <div class="sidebar-list__link flex-a trn-all" id="dark">
              <img src="assets/images/icons/night.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/night-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </div>
          </li>
          <li class="sidebar-list__item">
            <a href="login.html" class="sidebar-list__link flex-a trn-all" id="logout">
              <img src="assets/images/icons/logout.svg" alt="" class="sidebar-list__icon hide-on-light">
              <img src="assets/images/icons/logout-brown.svg" alt="" class="sidebar-list__icon hide-on-dark">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <main class="main">
      <div class="row row-gap">
        <div class="col-lg-8 col-xl-9">
          <div class="row row-gap">
            <div class="col-sm-6 col-xl-3">
              <div class="card details-card">
                <p class="details-card__sub-hdng">Total Investment</p>
                <h2 class="details-card__hdng">$25000</h2>
                <p class="details-card__desc">will be increase in this year</p>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="card details-card">
                <p class="details-card__sub-hdng">Total Profit</p>
                <h2 class="details-card__hdng">$-9209.45</h2>
                <div class="details-card__desc"> <span class="text-color-topaz">0.8%</span> will be increase in this
                  year
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="card details-card">
                <p class="details-card__sub-hdng">Pending Payout</p>
                <h2 class="details-card__hdng">$60000</h2>
                <div class="details-card__desc"> <span class="text-color-topaz">0.8%</span> will be increase in this
                  year
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="card details-card">
                <p class="details-card__sub-hdng">Total Payout (Till Date)</p>
                <h2 class="details-card__hdng">$60000</h2>
                <div class="details-card__desc"> <span class="text-color-topaz">0.8%</span> will be increase in this
                  year
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card profit-loss-card">
                <div class="profit-loss-card__hdr">
                  <h1 class="profit-loss-card__hdng">Profit and Loss Chart</h1>
                  <p class="profit-loss-card__desc">Transaction Chart</p>
                </div>
                <div id="chart"></div>
                <!-- <canvas id="profitLossChart"></canvas> -->
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <h2 class="transaction__hdng">Transactions</h2>
              <p class="transaction__desc">Details of transactions</p>
              <div class="card transaction-card">
                <div class="flex-i justify-between transaction-card-wrapper">
                  <div class="transaction-card__content">
                    <h6 class="trnHdng">Positions</h6>
                    <p class="transaction-card__desc">Total position from start to till now</p>
                  </div>
                  <div class="transaction-card__chart-holder">
                    <canvas class="progressChart" id="progressChart1"></canvas>
                    <div class="chart-value" id="chartValue1">13</div>
                  </div>
                </div>
              </div>
              <div class="card transaction-card">
                <div class="flex-i justify-between transaction-card-wrapper">
                  <div class="transaction-card__content">
                    <h6 class="trnHdng">Profit</h6>
                    <p class="transaction-card__desc">Total profit from start to till now</p>
                  </div>
                  <div class="transaction-card__chart-holder">
                    <canvas class="progressChart" id="progressChart2"></canvas>
                    <div class="chart-value" id="chartValue2">76.9%</div>
                  </div>
                </div>
              </div>
              <div class="card transaction-card">
                <div class="flex-i justify-between transaction-card-wrapper">
                  <div class="transaction-card__content">
                    <h6 class="trnHdng">Losing</h6>
                    <p class="transaction-card__desc">Total loss from start to till now</p>
                  </div>
                  <div class="transaction-card__chart-holder">
                    <canvas class="progressChart" id="progressChart3"></canvas>
                    <div class="chart-value" id="chartValue3">23.1%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <div class="card monthly-return">
                <h2 class="monthly-return__hdng">Monthly Return</h2>
                <ul class="monthly-return-list cols-2">
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">January</div>
                    <div class="">1</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    February
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      0.21
                    </div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">March</div>
                    <div class="">0</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    April
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      0.21
                    </div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">May</div>
                    <div class="">0</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    June
                    <div class="">0</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">july</div>
                    <div class="">0</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    August
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      0.21
                    </div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">September</div>
                    <div class="">0</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">October</div>
                    <div class="">0</div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">November</div>
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      0.21
                    </div>
                  </li>
                  <li class="monthly-return-list__item flex-i justify-between">
                    <div class="">December </div>
                    <div class="">0</div>
                  </li>
                </ul>
                <div class="monthly-return__total flex-i justify-between">
                  <span>Total</span>
                  <span>20.18</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="card tn-list-card">
            <h2 class="tn-list-card__hdng">Transaction List</h2>
            <p class="tn-list-card__desc">
              Following are the detail records of your transactions
            </p>
            <!-- <div class="inputBox flex-i">
              <input type="text" class="inputBox__feild" placeholder="Search...">
              <img src="assets/images/icons/search.svg" alt="">
            </div> -->
            <select class="tn-list-card__select" id="filterSelect">
              <option value="all">Show All</option>
              <option value="profit">Profit</option>
              <option value="loss">Loss</option>
            </select>
            <table class="table profitLoss__table" id="profitLoss-table">
              <thead>
                <tr class="table-head__row">
                  <th class="table__hdng">Profit/loss</th>
                  <th class="table__hdng">Date</th>
                  <th class="table__hdng">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
                <tr class="table__row loss-row">
                  <td class="teble__col1">loss</td>
                  <td class="teble__col2">Jul 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-chili-papper flex-i">
                      <img src="assets/images/icons/down.svg" alt="">
                      $210
                    </div>
                  </td>
                </tr>
                <tr class="table__row profit-row">
                  <td class="teble__col1">Profit</td>
                  <td class="teble__col2">Aug 20, 2024</td>
                  <td class="teble__col3">
                    <div class="text-color-topaz flex-i">
                      <img src="assets/images/icons/up.svg" alt="">
                      $200
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="assets/js/jquery-3.7.1.min.js"></script>
  <script src="dist/bootstrap-5.2.2/js/bootstrap.bundle.min.js"></script>
  <script src="dist/bootstrap-5.2.2/js/bootstrap.min.js"></script>
  <script src="dist/fontawesome/js/all.min.js"></script>
  <script src="dist/popperjs/popper.min.js"></script>
  <script src="dist/swiper/swiper-bundle.min.js"></script>
  <script src="dist/tippyjs/tippy-bundle.umd.min.js"></script>
  <script src="dist/chartsjs/chart.js"></script>
  <script src="dist/apexcharts/apexcharts.js"></script>
  <script src="dist/data-tables/dataTables.min.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script>
    var options = {
      series: [
        {
          name: "Profit",
          data: [100, 200, 300, 400, 100, 595.1, 200, 300, 700, 900, 400],
        },
        {
          name: "Loss",
          data: [0, 100, 300, 600, 200, 50, 200, 300, 800, 0, 600],
        },
      ],
      chart: {
        type: "area",
        height: 350,
        toolbar: {
          show: false,
        },
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: "smooth",
      },
      xaxis: {
        categories: [
          "23 Aug",
          "25 Aug",
          "27 Aug",
          "29 Aug",
          "31 Aug",
          "02 Sep",
          "04 Sep",
          "06 Sep",
          "08 Sep",
          "10 Sep",
        ],
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value.toFixed(1);
          },
        },
      },
      tooltip: {
        shared: true,
        intersect: false,
        custom: function ({ series, seriesIndex, dataPointIndex, w }) {
          const profit = series[0][dataPointIndex];
          const loss = series[1][dataPointIndex];
          const date = w.globals.labels[dataPointIndex];

          return `<div style="padding: 5px;" class="pr-loss-abs">
            <div class="pr-loss-abs__header">9 sep</div>
            <div class="pr-loss-abs__body">
              <div class="pr-loss-abs__row">
                <div class="dot pdot"></div>
                Profit: <span style="color: #1ABC9C">$${profit.toFixed(
            2
          )}</span>
                </div>
              <div class="pr-loss-abs__row">
                <div class="dot ldot"></div>
                Loss: <span style="color: #FF4560">$${loss.toFixed(2)}</span>
                </div>
            </div>
          </div>`;
        },
      },
      colors: ["#1ABC9C", "#FF4560"],
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.5,
          stops: [0, 90, 100],
        },
      },
      markers: {
        size: 5,
        colors: ["#1ABC9C", "#FF4560"],
        strokeColors: "#fff",
        strokeWidth: 2,
        hover: {
          size: 7,
        },
      },
      grid: {
        show: false, // Completely hides the grid lines
      },
      legend: {
        position: "top",
        horizontalAlign: "left",
        labels: {
          colors: ["#1ABC9C", "#FF4560"],
        },
        markers: {
          width: 12,
          height: 12,
          radius: 12,
          offsetX: -4,
        },
      },
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    const ctx1 = document.getElementById("progressChart1").getContext("2d");
    const value1 = 20; // Value for the progress chart
    const progressChart1 = new Chart(ctx1, {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [value1, 100 - value1],
            backgroundColor: ["#0073B6", "#59595933"],
            borderWidth: 0, // Remove the white border
            borderRadius: 10, // Round the corners
          },
        ],
      },
      options: {
        cutout: "90%",
        rotation: 140,
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          tooltip: {
            enabled: false,
          },
        },
      },
    });

    document.getElementById("chartValue1").textContent = value1 + "%";
    //
    const ctx2 = document.getElementById("progressChart2").getContext("2d");
    const value2 = 76.6; // Value for the progress chart
    const progressChart2 = new Chart(ctx2, {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [value2, 100 - value2],
            backgroundColor: ["#1ABC9C", "#59595933"],
            borderWidth: 0, // Remove the white border
            borderRadius: 10, // Round the corners
          },
        ],
      },
      options: {
        cutout: "90%",
        rotation: 140,
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          tooltip: {
            enabled: false,
          },
        },
      },
    });

    // Update the text value inside the chart
    document.getElementById("chartValue2").textContent = value2 + "%";
    const ctx3 = document.getElementById("progressChart3").getContext("2d");
    const value3 = 30; // Value for the progress chart
    const progressChart3 = new Chart(ctx3, {
      type: "doughnut",
      data: {
        datasets: [
          {
            data: [value3, 100 - value3],
            backgroundColor: ["#BC1D1E", "#59595933"],
            borderWidth: 0, // Remove the white border
            borderRadius: 10, // Round the corners
          },
        ],
      },
      options: {
        cutout: "90%",
        rotation: 220,
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          tooltip: {
            enabled: false,
          },
        },
      },
    });

    // Update the text value inside the chart
    document.getElementById("chartValue3").textContent = value3 + "%";
    document.getElementById("filterSelect").addEventListener("change", function () {
      const filterValue = this.value;
      const rows = document.querySelectorAll("#profitLoss-table .table__row");

      rows.forEach((row) => {
        row.style.display = "table-row"; // Show all rows by default

        if (filterValue === "profit" && !row.classList.contains("profit-row")) {
          row.style.display = "none"; // Hide non-profit rows
        } else if (filterValue === "loss" && !row.classList.contains("loss-row")) {
          row.style.display = "none"; // Hide non-loss rows
        }
      });
    });
  </script>
</body>

</html>